# Ignore folders
logs/

# ignore only from the root directory
/mylogs.log

# ignore all .log files in all directories
*.log 

# ignore all .log files in all directories except mylogs.log in the root directory
mylogs.log 

*.html

